<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>address</key>
	<string>hp-4100</string>
	<key>default_catalog</key>
	<string>development</string>
	<key>display_name</key>
	<string>Reception HP 4100</string>
	<key>location</key>
	<string>Front Desk</string>
	<key>name</key>
	<string>Reception HP 4100</string>
	<key>options</key>
	<array>
		<string>landscape</string>
		<string>media=A4</string>
	</array>
	<key>ppd</key>
	<string>/Library/Printers/PPDs/Contents/Resources/HP LaserJet 4100 Series.gz</string>
	<key>queue_name</key>
	<string>Front_HP4100</string>
	<key>requires</key>
	<array>
		<string>HPPrinterDrivers</string>
	</array>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
