<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"      "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>ds_holborn_epson_4900</string>
    <key>queue_name</key>
    <string>ds_epson_4900</string>
    <key>version</key>
    <string>0.1</string>
    <key>ppd</key>
    <string>2.4</string>
    <key>address</key>
    <string>10.10.10.10</string>
    <key>display_name</key>
    <string>Epson Stylus Pro 4900</string>
    <key>location</key>
    <string>Upstairs, Holborn</string>
    <key>requires</key>
    <array>
        <string>somedriver</string>
    </array>
</dict>
</plist>